<p>autores-form works!</p>

<form>
  <div class="form-group">
    <label for="Nombre_autores1">Nombre de los Autores</label>
    <input type="texto" class="form-control" id="Nombre_autores1" placeholder="Nombre de los Autores">
  </div>
  <div class="form-group">
    <label for="Apellidos_autores">Apellidos de los Autores</label>
    <input type="texto" class="form-control" id="Apellidos_autores" placeholder="Apellidos de los Autores">
  </div>
  <div class="form-group">
    <label for="Direccion1">Direccion</label>
    <input type="texto" class="form-control" id="Direccion1" placeholder="Direccion">
  </div>
  <div class="form-group">
    <label for="Telefono2">Telefono</label>
    <input type="texto" class="form-control" id="Telefono2" placeholder="Telefono">
  </div>
  <div class="form-group">
    <label for="Sitio_Web2">Sitio Web</label>
    <input type="texto" class="form-control" id="Sitio_Web2" placeholder="Sitio Web">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  