
<form>
    <div class="form-group">
      <label for="idLibro">ID de Libro</label>
      <input type="text" class="form-control" id="idLibro" aria-describedby="libroHelp" placeholder="Escriba la identigicacion">
      <small id="libroHelp" class="form-text text-muted">Berifique! bien la identificacion del libro</small>
    </div>
    <div class="form-group">
      <label for="idTitup">Titulo Principal</label>
      <input type="text" class="form-control" id="idTitup" placeholder="Titulo Principal">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  
