<!--<p>editorial-form works!</p>-->
<h1>{{titulo}}</h1>
<form>
    <div class="form-group">
      <label for="idedi">Nombre de la Editorial</label>
      <input type="text" class="form-control" id="idedi" aria-describedby="editoHelp" placeholder="Nombre de la editorial">
      
    </div>
    <div class="form-group">
      <label for="director_a_cargo">Director a cargo</label>
      <input type="texto" class="form-control" id="director_a_cargo" placeholder="Director a cargo">
    </div>
    <div class="form-group">
      <label for="Telefono1">Telefono</label>
      <input type="texto" class="form-control" id="Telefono1" placeholder="Telefono">
    </div>
    <div class="form-group">
      <label for="Direccion1">Direccion</label>
      <input type="texto" class="form-control" id="Direccion1" placeholder="Direccion">
    </div>
    <div class="form-group">
      <label for="Sitio_Web1">Sitio Web</label>
      <input type="texto" class="form-control" id="Sitio_Web1" placeholder="Sitio Web">
    </div>
    
    <button type="button" class="btn btn-primary" (click)="saveform()" >Submit</button>
  </form>
  